:root {
    --mainColor: purple;
    --on: purple;
    --off: black;
}


.paw {
    display: flex;
    justify-content: center;
    position: relative;
}


.botones {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    color: black;
}

.button {
    border-radius: 5px;
    font-weight: bold;
    margin: 5px;
    padding: 6px;
    width: 100px;
}

.button1,
.button3 {
    background-color: white;
    color: var(--on);
    border: solid 2px var(--on);
}

.button2 {
    background-color: white;
    color: var(--off);
    border: solid 2px var(--off);
}

.button1:hover,
.button3:hover {
    color: white;
    border-color: var(--on);
    background-color: var(--on);
}

.button2:hover {
    color: white;
    border-color: var(--off);
    background-color: var(--off);
}


.button1:focus,
.button3:focus {
    animation: green 20s 1;
}

.button2:focus {
    animation: red 20s 1;
}

.fila {

    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
}

.grupoBotones {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.linea {
    margin: 0;
}

.linea1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.linea2 p {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    margin: 0 auto;
}




.label {
    width: 70%;
    padding: 5px;
    height: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    border-radius: 5px;

}

.button3 {
    width: 200px;
    margin-left: -70px;
    height: 40px;

}


.lineaS {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

}

html body {
    background: linear-gradient(to bottom, purple, rgb(98, 98, 232));
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card {
    padding: 20px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
}